In [1]:
import sys
sys.path.append("..")

In [2]:
from rocketml.pipeline import Pipeline
from rocketml.pre_process import PreProcessing

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/train.csv")
df.head()

,warehouse,date,orders,holiday_name,holiday,shutdown,mini_shutdown,shops_closed,winter_school_holidays,school_holidays,blackout,mov_change,frankfurt_shutdown,precipitation,snow,user_activity_1,user_activity_2,id
0,Prague_1,2020-12-05,6895.0,NaN,0,0,0,0,0,0,0,0.0,0,0.0,0.0,1722.0,32575.0,Prague_1_2020-12-05
1,Prague_1,2020-12-06,6584.0,NaN,0,0,0,0,0,0,0,0.0,0,0.0,0.0,1688.0,32507.0,Prague_1_2020-12-06
2,Prague_1,2020-12-07,7030.0,NaN,0,0,0,0,0,0,0,0.0,0,0.0,0.0,1696.0,32552.0,Prague_1_2020-12-07
3,Prague_1,2020-12-08,6550.0,NaN,0,0,0,0,0,0,0,0.0,0,0.8,0.0,1681.0,32423.0,Prague_1_2020-12-08
4,Prague_1,2020-12-09,6910.0,NaN,0,0,0,0,0,0,0,0.0,0,0.5,0.0,1704.0,32410.0,Prague_1_2020-12-09

In [5]:
pp = PreProcessing()

steps = [
    (pp.drop_columns, {"columns": ["id"]}),
    (pp.encode_holiday_name, {"column_name": "holiday_name"}),
    (pp.create_dummies, {"column_name": "warehouse"}),
    (pp.add_date_features, {"column_name": "date"}),
    (pp.replace_bool, {"values": {True: 1, False: 0}}),
    (pp.standard_scaler, {"columns": ["day", "month", "quarter", "year", "day_of_week", "day_of_year"]}),
]

pipe = Pipeline()
df_processed = pipe.preprocess_pipeline(df=df, steps=steps)

In [6]:
df_processed

,orders,holiday_name,holiday,shutdown,mini_shutdown,shops_closed,winter_school_holidays,school_holidays,blackout,mov_change,...,warehouse_Munich_1,warehouse_Prague_1,warehouse_Prague_2,warehouse_Prague_3,day,month,quarter,year,day_of_week,day_of_year
0,6895.0,0,0,0,0,0,0,0,0,0.0,...,0,1,0,0,-1.218257,1.566935,1.338188,-2.277645,1.071833,1.472500
1,6584.0,0,0,0,0,0,0,0,0,0.0,...,0,1,0,0,-1.104157,1.566935,1.338188,-2.277645,1.584591,1.481621
2,7030.0,0,0,0,0,0,0,0,0,0.0,...,0,1,0,0,-0.990057,1.566935,1.338188,-2.277645,-1.491959,1.490742
3,6550.0,0,0,0,0,0,0,0,0,0.0,...,0,1,0,0,-0.875958,1.566935,1.338188,-2.277645,-0.979201,1.499864
4,6910.0,0,0,0,0,0,0,0,0,0.0,...,0,1,0,0,-0.761858,1.566935,1.338188,-2.277645,-0.466442,1.508985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7335,6733.0,0,0,0,0,0,0,0,0,0.0,...,0,0,0,0,-0.647758,-0.941954,-1.263516,1.925212,1.584591,-0.990258
7336,6492.0,0,0,0,0,0,0,0,0,0.0,...,0,0,0,0,-0.533658,-0.941954,-1.263516,1.925212,-1.491959,-0.981136
7337,6661.0,0,0,0,0,0,0,0,0,0.0,...,0,0,0,0,-0.419558,-0.941954,-1.263516,1.925212,-0.979201,-0.972015
7338,6843.0,0,0,0,0,0,0,0,0,0.0,...,0,0,0,0,-0.305458,-0.941954,-1.263516,1.925212,-0.466442,-0.962894
7339,8130.0,0,0,0,0,0,0,0,0,0.0,...,0,0,0,0,-0.191358,-0.941954,-1.263516,1.925212,0.046316,-0.953772