In [1]:
import sys
sys.path.append("..")

In [2]:
from rocketml.pipeline import Pipeline
from rocketml.pre_process import PreProcessing

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/train.csv")
df.head()

,warehouse,date,orders,holiday_name,holiday,shutdown,mini_shutdown,shops_closed,winter_school_holidays,school_holidays,blackout,mov_change,frankfurt_shutdown,precipitation,snow,user_activity_1,user_activity_2,id
0,Prague_1,2020-12-05,6895.0,NaN,0,0,0,0,0,0,0,0.0,0,0.0,0.0,1722.0,32575.0,Prague_1_2020-12-05
1,Prague_1,2020-12-06,6584.0,NaN,0,0,0,0,0,0,0,0.0,0,0.0,0.0,1688.0,32507.0,Prague_1_2020-12-06
2,Prague_1,2020-12-07,7030.0,NaN,0,0,0,0,0,0,0,0.0,0,0.0,0.0,1696.0,32552.0,Prague_1_2020-12-07
3,Prague_1,2020-12-08,6550.0,NaN,0,0,0,0,0,0,0,0.0,0,0.8,0.0,1681.0,32423.0,Prague_1_2020-12-08
4,Prague_1,2020-12-09,6910.0,NaN,0,0,0,0,0,0,0,0.0,0,0.5,0.0,1704.0,32410.0,Prague_1_2020-12-09

In [6]:
df["date"] = pd.to_datetime(df["date"])

In [10]:
df["date"].dt.day_of_week

0       5
1       6
2       0
3       1
4       2
       ..
7335    6
7336    0
7337    1
7338    2
7339    3
Name: date, Length: 7340, dtype: int32

In [12]:
df["date"].dt.month

0       12
1       12
2       12
3       12
4       12
        ..
7335     3
7336     3
7337     3
7338     3
7339     3
Name: date, Length: 7340, dtype: int32

In [13]:
df["date"].dt.year

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
7335    2024
7336    2024
7337    2024
7338    2024
7339    2024
Name: date, Length: 7340, dtype: int32

In [14]:
df["date"].dt.quarter

0       4
1       4
2       4
3       4
4       4
       ..
7335    1
7336    1
7337    1
7338    1
7339    1
Name: date, Length: 7340, dtype: int32

In [15]:
df["date"].dt.day

0        5
1        6
2        7
3        8
4        9
        ..
7335    10
7336    11
7337    12
7338    13
7339    14
Name: date, Length: 7340, dtype: int32

In [16]:
df["date"].dt.day_of_year

0       340
1       341
2       342
3       343
4       344
       ...
7335     70
7336     71
7337     72
7338     73
7339     74
Name: date, Length: 7340, dtype: int32